<div class="banner">
  <p>
    On April 25 and 26, 2023,
    <a href="https://neverworkintheory.org/">It Will Never Work in Theory</a> is hosting
    a set of online lightning talks from leading software engineering researchers
    on immediate, actionable results from their work.
    Tickets are available through
    <a href="https://www.eventbrite.com/e/it-will-never-work-in-theory-tickets-527743173037">Eventbrite</a>,
    and all of the money raised will go to support
    <a href="https://www.booksforafrica.org/">Books for Africa</a>.
  </p>
</div>
