<div class="banner">
  <p>
    <strong>
      <a href="https://third-bit.com/sdxpy/">Software Design by Example in Python</a> is now in beta.
      <br/>
      All the material is free to read and re-use under open licenses,
      and we would be very grateful for feedback and corrections.
    </strong>
  </p>
  <p>
    If you enjoy these books, you may also enjoy
    <span style="display: inline-block"><a href="https://third-bit.com/sdxjs/">Software Design by Example in JavaScript</a></span>,
    <span style="display: inline-block"><a href="https://merely-useful.tech/py-rse/">Research Software Engineering with Python</a></span>,
    <span style="display: inline-block"><a href="https://third-bit.com/js4ds/">JavaScript for Data Science</a></span>,
    <span style="display: inline-block"><a href="http://teachtogether.tech/">Teaching Tech Together</a></span>,
    and <a href="https://neverworkintheory.org/">It Will Never Work in Theory</a>.
  </p>
</div>
