<div class="banner">
  <p>
    <strong>
      2024-01-22:
      What unwritten books do you want?
      Please take 60 seconds to fill in
      <a href="https://forms.gle/GU3ZGHmgRsA12ry9A">this short poll</a>
      about <a href="https://third-bit.com/not-on-the-shelves/2024/">this list of books we could work on next</a>.
    </strong>
  </p>
  <p>
    If you enjoy these books, you may also enjoy
    <span style="display: inline-block"><a href="https://third-bit.com/sdxpy/">Software Design by Example in Python</a></span>,
    <span style="display: inline-block"><a href="https://third-bit.com/sdxjs/">Software Design by Example in JavaScript</a></span>,
    <span style="display: inline-block"><a href="https://merely-useful.tech/py-rse/">Research Software Engineering with Python</a></span>,
    <span style="display: inline-block"><a href="https://third-bit.com/js4ds/">JavaScript for Data Science</a></span>,
    and <span style="display: inline-block"><a href="http://teachtogether.tech/">Teaching Tech Together</a></span>.
  </p>
</div>
